@import "tailwindcss";

@plugin "./hero.mts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

body {
  min-height: 100vh;
  font-family:
    var(--font-geist-sans),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}
